<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' />


    <link rel="stylesheet" href='/css/final.css' />
    <title>Document</title>
</head>

<body>
    <div class="padre">
        <header class="header">
            <div class="menu">
                <div class="logo">
                    <a href="index.html">

                        logo Corporativo </a>

                </div>
                <div class="nav">
                    <a href="#"><i class="fas fa-apple-alt"></i>Inicio </a>
                    <a href="#"><i class="fas fa-apple-alt"></i>Inicio1 </a>
                    <a href="#"><i class="fas fa-apple-alt"></i>Inicio2 </a>
                    <a href="#"><i class="fas fa-apple-alt"></i>Inicio3 </a>

                </div>
                <div class="social">
                    <a href="#"><i class="fab fa-facebook-square"></i> </a>
                    <a href="#"><i class="fab fa-twitter-square"></i> </a>

                </div>
            </div>
            <div class="texto-principal">
                <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi quod dolor possimus numquam soluta
                    voluptatum aliquam? Sapiente animi itaque maiores repellat unde, ut, repudiandae asperiores incidunt
                    voluptatibus ipsam provident architecto minus officiis neque voluptas mollitia quibusdam temporibus
                    cumque, perspiciatis saepe numquam blanditiis dolor! A est dolore vitae nulla voluptatem atque.</h1>
            </div>
        </header>

        <section class="section">
            <div class="articulos">
                <article class="article">
                    <img src="/images/paisa.jpg" alt="" width="400px">
                    <h3>dddd</h3>
                    <h2>ssssssssssssssssss</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minus quas molestiae illum
                        aspernatur eos voluptates laudantium necessitatibus obcaecati cumque modi fugit officia, est
                        saepe, quisquam maxime. Commodi, natus sequi.
                </article>
                <article class="article">
                    <img src="/images/paisa.jpg" alt="" width="400px">
                    <h3>dddd</h3>
                    <h2>ssssssssssssssssss</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minus quas molestiae illum
                        aspernatur eos voluptates laudantium necessitatibus obcaecati cumque modi fugit officia, est
                        saepe, quisquam maxime. Commodi, natus sequi.
                </article>
                <article class="article">
                    <img src="/images/paisa.jpg" alt="" width="400px">
                    <h3>dddd</h3>
                    <h2>ssssssssssssssssss</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minus quas molestiae illum
                        aspernatur eos voluptates laudantium necessitatibus obcaecati cumque modi fugit officia, est
                        saepe, quisquam maxime. Commodi, natus sequi.
                </article>
                <article class="article">
                    <img src="/images/paisa.jpg" alt="" width="400px">
                    <h3>dddd</h3>
                    <h2>ssssssssssssssssss</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minus quas molestiae illum
                        aspernatur eos voluptates laudantium necessitatibus obcaecati cumque modi fugit officia, est
                        saepe, quisquam maxime. Commodi, natus sequi.
                </article>
                <nav class="navegacion">Barra de Navegacion</nav>
            </div>
            <aside class="aside">
                <div class="publicidad">
                    <img src="/images/paisa.jpg" alt="" width="400px">
                </div>
                <div class="publicidad">
                    <img src="/images/paisa.jpg" alt="" width="400px">
                </div>
                
            </aside>
        </section>
        <footer class="footer">
            <div class="pie">
                Soy el pie de página
            </div>
        </footer>
    </div>
</body>

</html>