*{
    margin:10px;
    padding : 10px;
    box-sizing: border-box;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
    .header{
        background-color:black;
        display: flex;
        flex-flow: column nowrap;

    }
        .menu{
            background-color:aquamarine; 
            display: flex; 
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
        }
            .logo{
                background-color:darkgreen;
                flex: 1 1 auto;
                height: 30px;
            }
            .nav{
                background-color:darkgreen;
                flex: 5 1 auto;
                height: 30px;
            }
            .social{
                background-color:darkgreen;
                flex: 1 1 auto;
                height: 30px;
            }
        .texto-principal{
            background-color: coral;
        }
            h1{
                background-color: gold;
            }

    .section{
        display: flex;
        justify-content: space-between;
        background-color: black;

    }

        .articulos{
            background-color: blueviolet;
            display: flex;
            flex: 2 1 auto;
            flex-flow: row wrap;
        }
            article{
                background-color: blanchedalmond;
                flex: 1 1 40%;
            }
            .navegacion{
                 background-color: deeppink;
                 flex: 1 1 100%;
        }
        .aside{
            background-color:beige; 
            flex: 1 1 auto;
        }
            .publicidad{
                background-color: chartreuse;
            }
    .footer{
        background-color: black;
        display: flex;
        justify-content: center;
    }
        .pie{
            background-color: darkgoldenrod;
            width: 300px;
        }

@media screen and (max-width:800px){
/* Cuando se llegue a 800 px queremos que el Aside se 
coloque abajo*/
    .section{
     flex-direction: column;
    }
/* Cuando se llegue a 800 px queremos que los items del Menú 
se desplacen hacia abajo */
    .menu{
 /* Cuando aplica,pos flex-direction: column; se produce error visual
 corregimos con height:auto; */       
        flex-direction: column;
        height:auto;
    }


    .aside{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}


@media screen and (max-width:600px){
        .articulos{
            flex-direction: column;
        }
}   


@media screen and (max-width:400px){
    .aside{
        display: flex;
        flex-direction: column;
       
    }
}  